.container {
    margin: 30px 0;
}

.clock-item {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    margin-top: 15px;
}

.clock-item div {
    margin: 0 auto;
}

.clock-title {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.timezone-value {
    margin-left: 5px;
}